<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{other_info['name']}} - My GPU Database</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='site.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='table.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='gpu/gpuInfo.css') }}">
</head>
<body>
    <p>GPU Name: {{other_info['name']}}</p>
    <p>Processor: {{other_info['proc_name']}}</p>
    <p>Architechture: {{other_info['arch_name']}}</p>
    <p>Clock Speed: {{other_info['clock_speed_mhz']}} MHz</p>
    <p>Series: {{other_info['series_name']}}</p>
    <p>Year of Release: {{other_info['release_year']}}</p>
    <p>Manufacturer: {{other_info['manufacturer_name']}}, founded in {{other_info['founded_year']}}</p>
    <p>VRAM Size: {{other_info['vram_size_gb']}} GB</p>
    <p>Recommended Retail Price: {{other_info['price_cents']}} US cents</p>
</body>
</html>
