* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

body {
    background-color: #e2e6d7;
}

a {
    text-decoration: none;
}

a:link {
    color: royalblue;
}

a:visited {
    color: #c58af9;
}

a:hover {
    text-decoration: underline;
}

div.icon-box {
    width: 100px;
    height: 40px;
    display: flex;
}

div.icon-box span {
    flex: 1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

div.icon-box svg {
    width: 40px;
    height: 40px;
}
