* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

body {
    background-color: #e2e6d7;
}

a {
    text-decoration: none;
}

a:link {
    color: royalblue;
}

a:visited {
    color: #c58af9;
}

a:hover {
    text-decoration: underline;
}

