table {
    background-color: #f9faf6;
    border: 1px solid;
    width: 100%;
}

th,
td {
    /* border: 1px solid #82774b; */
    padding: 8px 12px;
}

th {
    text-align: center;
}

td {
    text-align: right;
}

tr:nth-child(even) {
    background-color: #eef1e6;
}

tr:nth-child(odd) {
    background-color: #f9faf6;
}

tr:hover:has(td) {
    background-color: #e5e9db;
}

table caption {
    font-weight: bold;
    font-size: larger;
}
