<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{manufacturer_name}} - GPU Manufacturer - My GPU Database</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='manufacturer/index.css') }}">
    <script src="{{ url_for('static', filename='manufacturer/index.js') }}"></script>
</head>
<body>
    <p>{{manufacturer_name}} is founded in {{founded_year}}. Here are some GPUs it has made:</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Processor Name</th>
            <th>Architecture Name</th>
            <th>Clock Speed (MHz)</th>
            <th>Series</th>
            <th>Year of Release</th>
            <th>VRAM Size</th>
            <th>Price (US cent)</th>
        </tr>
        {% for item in gpus %}
        <tr>
            <td><a href="/gpu/{{ item['id'] }}">{{item['name']}}</a></td>
            <td>{{item['proc_name']}}</td>
            <td><a href="/arch/{{ item['arch_id'] }}">{{item['arch_name']}}</a></td>
            <td>{{item['clock_speed_mhz']}}</td>
            <td>{{item['series_name']}}</td>
            <td>{{item['release_year']}}</td>
            <td>{{item['vram_size_gb']}}</td>
            <td>{{item['price_cents']}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
