<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='index.css') }}">
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</head>

<body>
    <div>
        <h1>Welcome to my page!</h1>
        <p>This is a simple HTML page.</p>
        <button id="magic-cntr-btn">Click me!</button>
        <p id="magic-counter">0</p>
    </div>
</body>

</html>